<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jornco.aiironbotdemo">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:name=".IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.a1.A1SearchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a2.A2SearchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a3.A3Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a4.A4Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a5.A5Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a6.A6Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a7.A7Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a8.A8SearchActivity"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".activity.a8.service.A8MyService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".activity.a9.A9SearchActivity"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".activity.a9.service.A9MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a10.A10SearchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.a11.A11SearchActivity"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".activity.a11.service.A11MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a12.A12SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a12.service.A12MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a13.A13SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a13.service.A13MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a14.A14SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a14.service.A14MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a15.A15SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a15.service.A15MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a16.A16SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a16.service.A16MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a17.A17SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a17.service.A17MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".activity.a18.A18Activity"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".activity.a18.service.A18MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>

</manifest>